<html>
	<head>
		<link rel="stylesheet" href="./styles.css">
	</head>
  <body>
  	<header class="quiz-header">
			<img src="./img/logo-extrema.png">
    	<img src="./img/logo-{{page.logo}}.png" class="{{page.logo}}">
		</header>
    <div quiz="{{page.quiz}}">
    	<!-- https://codepen.io/candrews/pen/KzJJmz -->
    	<div class="loading">
		    <div class="loader">
	        <span class="dot dot_1"></span>
	        <span class="dot dot_2"></span>
	        <span class="dot dot_3"></span>
	        <span class="dot dot_4"></span>
		    </div>
			</div>
    </div>
    <script src="http://cdn.poll-maker.com/quiz-embed-v1.js" async language="javascript"></script>
  </body>
</html>